# Dependencies
node_modules
/.pnp

# Environment variables
.env
.env.local
.env.production
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
coverage

# Build
dist
build

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Database
*.db
*.sqlite
